# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Data files
data/raw/
data/processed/

# Outputs
outputs/models/
outputs/figures/

# Logs
*.log

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Python cache
*.pkl
*.joblib
